.contorno {
  border: solid $defaut-red;
  border-width: 1 1 1 1px;
  padding: 20px;

}

.contorno-2 {
  border: solid $defaut-red;
  border-width: 1 1 1 1px;
  padding: 20px;
  display: inline-block;
  width: 100%;

}

.about-bebo-img {
  vertical-align: middle;
}
