/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

ul {
  list-style-type: none;
}

.about {
  background-color: white;
  // height: 400px;
  max-width: 100%;
  font-size: 16px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // text-align: center;

}

.about h3 {
  font-weight: 700;
  font-size: 24px;
  color: black;
  // text-align: center;
}

.about p {
  font-weight: 300;
  line-height: 2.0em;
  color: #706F6F;
  // text-align: left;
}

.about img {
  max-width: 100%;
}
.about-text {
   margin-bottom: 40px;
   margin-top: 40px;

}

// sssss

.about-formas {
  background-color: white;
  max-width: 100%;
  font-size: 16px;
  justify-content: right;
  // padding-top: 70px;

}

.about-formas h3 {
  font-weight: 700;
  font-size: 24px;
  color: black;
  // text-align: center;
}

.about-formas p {
  font-weight: 300;
  line-height: 1.5em;
  color: #706F6F;
  // text-align: left;
}

.about-formas img {
  max-width: 100%;
}
.about-formas-text {
   // margin-bottom: 50px;
   // margin-top: 50px;

}


.about-formas li:before{
  content: url(http://res.cloudinary.com/dib2nyadi/image/upload/v1493041001/quadrado_e8smqq.png);
  padding-right: 10px;

}

.about-formas li {
  font-weight: 700;
  line-height: 1.5em;
  color:  black;
}

.formas-img {
  justify-content: left;
}

.about-bebo {
  background-color: white;
  // height: 400px;
  max-width: 100%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  // text-align: center;

}

.about-bebo h3 {
  font-weight: 700;
  font-size: 24px;
  color: black;
  // text-align: center;
}

.about-bebo p {
  font-weight: 300;
  line-height: 1.5em;
  color: #706F6F;
  // text-align: left;
}

.about-bebo img {
  max-width: 100%;
  margin-top: 100px;
}


.about-img {
  margin-top: 30px;
  margin-bottom: 30px;
}


.about-grey {
  background-color: #EEEEEE;
  // height: 400px;
  max-width: 100%;
  font-size: 20px;

  // display: flex;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
  // padding: 30px;
}

.about-grey h3 {
  font-weight: 700;
  font-size: 24px;
  color: black;
  text-align: center;
}

.about-grey p {
  font-weight: 600;
  line-height: 2.0em;
  color: #706F6F;
  // text-align: left;
}

.about-grey img {
  max-width: 100%;
}
.about-grey-text {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 450px;
}

.about-grey-img {
  margin-top: 24px;
  margin-bottom: 24px;
}


.caract {
  text-align: center;
  // height: 470px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.caract img {
  width: 150px;
  height: 150px;
  margin-top: 24px;
  margin-bottom: 24px;

}

.caract h3 {
  font-weight: 700;
  font-size: 24px;
  color: black;
  text-align: left;
}

.caract p {
  font-weight: 600;
  line-height: 2.0em;
  color: #706F6F;
  font-size: 16px;
  text-align: left;
}

.caract li {
  text-align: left;
  font-weight: 600;
  line-height: 2.0em;
  color: #706F6F;
  font-size: 16px;
  text-align: left;
}


.caract li:before {
  content: url(http://res.cloudinary.com/dib2nyadi/image/upload/v1493041001/quadrado_e8smqq.png);
  padding-right: 5px;
}

.bebo-carac h3 {
  color: black;
}

.carac-ind {
  padding: 24px;
}

.solucoes-est {
  background-color: white;
  // height: 400px;
  font-size: 16px;
  font-weight: lighter;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.solucoes-est h3 {
  text-align: left;
}

.solucoes-est p {
  font-weight: 600;
  line-height: 2.0em;
  color: #706F6F;
  font-size: 16px;
  text-align: left;
}

.bebo-logo {

  width: 100%;
  vertical-align: middle;
}

.bebo-carac {
  padding: 24px;
  text-align: center;
}

.bebo-btn {
  text-align: center;
  margin-bottom: 24px;
}


.contato {
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contato h3 {
  font-weight: 700;
  font-size: 24px;
  color: black;
}

.contato p {
  font-weight: 600;
  line-height: 2.0em;
  color: #706F6F;
  font-size: 16px
}



.ghost-button {
 color: black;
 background: #fff;
 border: 3px solid #706F6F;
 font-size: 17px;
 padding: 7px 12px;
 font-weight: normal;
 margin: 6px 0;
 margin-right: 12px;
 display: inline-block;
 text-decoration: none;
 font-family: 'Open Sans', sans-serif;
 min-width: 200px;
 height: 60px;
}

.ghost-button:hover, .ghost-button:active {
 color:#fff;
 background:#706F6F;
}


.quadrado {
  height: 20px;
  width: 20px;
  background-color: red;
}
