/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.about {
  background-color: white;
  // height: 400px;
  max-width: 100%;
  font-size: 20px;

  // display: flex;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
  // padding: 30px;
}

.about h3 {
  font-weight: 700;
  font-size: 30px;
  color: black;
  text-align: center;
}

.about p {
  font-weight: 600;
  line-height: 2.0em;
  color: #706F6F;
  // text-align: left;
}

.about img {
  max-width: 100%;
}
.about-text {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 450px;
}

.about-img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.caract {
  text-align: center;
  // height: 470px;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.caract img {
  width: 150px;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 30px;

}

.caract h3 {
  font-weight: 700;
  font-size: 30px;
  color: black;
}

.caract p {
  font-weight: 600;
  line-height: 2.0em;
  color: #706F6F;
  font-size: 20px;
}

.carac-ind {
  padding: 30px;
}

.solucoes-est {
  background-color: white;
  // height: 400px;
  font-size: 20px;
  font-weight: lighter;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.solucoes-est p {
  font-weight: 600;
  line-height: 2.0em;
  color: #706F6F;
  font-size: 20px;
}

.bebo-logo {

  width: 100%;
  vertical-align: middle;
}

.bebo-carac {
  padding: 30px;
  text-align: center;
}

.bebo-btn {
  text-align: center;
  margin-bottom: 30px;
}

.contato {
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contato h3 {
  font-weight: 700;
  font-size: 30px;
  color: black;
}

.contato p {
  font-weight: 600;
  line-height: 2.0em;
  color: #706F6F;
  font-size: 20px
}
