
<footer class="footer hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12"> <!--col-sm-push-1 -->
        <p>© Copyright | Rua Barão de Ubá, 168, CEP 20260-050, Rio Comprido - Rio de Janeiro/RJ | sandro.gomes@blocod.com | +55 21 99734 - 5730</p>
      </div>
    </div>
  </div>
</footer>
