


<div class="navbar navbar-wagon hidden-xs hidden-sm">
  <div class="container">
    <div class="row">
      <div class="col-xm-12 col-xs-12">
        <div class="menu-top">
          <ul class="nav navbar-nav navbar-left">
            <li>
                <h3>DONA FIT</h3>
            </li>
          </ul>
        </div>
        <div class="navbar-right hidden-xs hidden-sm">
          <div class="menu-top">
            <ul class="nav navbar-nav navbar-right">
              <li>
                  <a class="page-scroll" href="#sobre">Quem Somos</a>
              </li>
              <li>
                  <a class="page-scroll" href="#solucoes">Cardápio</a>
              </li>
              <li>
                  <a class="page-scroll" href="#diferenciais">Contato</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="navbar navbar-wagon navbar-fixed-top hidden-md hidden-lg">
  <div class="navbar-wagon navbar-fixed-top">

    <div class="navbar-wagon-item">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Quem Somos</a></li>
          <li><a href="#">Cardápio</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

