<!--
  <div class="single-item">
    <div>
      <img src="http://res.cloudinary.com/dib2nyadi/image/upload/c_scale,e_grayscale,h_800/v1490107121/BlocoD/Bridgehampton-Crossing_CT_BEBO_img_2.jpg" />
      </div>
    <div>
      <img src="http://res.cloudinary.com/dib2nyadi/image/upload/c_scale,e_grayscale,h_800/v1490107119/BlocoD/9th-possession-017.jpg" />
    </div>
    <div>
      <img src="http://res.cloudinary.com/dib2nyadi/image/upload/c_scale,e_grayscale,h_800/v1490107121/BlocoD/dsc00327.jpg" />
    </div>


  </div> -->


 <div class="container">
   <div class="banner banner-bebo" style="background-image: url(http://res.cloudinary.com/dib2nyadi/image/upload/c_scale,e_grayscale,h_800/v1490286130/Warden-Avenue-Expansion-BEBO-Markham-ON-6_tq6yho.jpg); width: : 100%;">
    <div class="row">

      <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="banner-content contorno">
           <div id="contorno-title"><h1>MAIS EFICIÊNCIA</h1></div>
           <p id="contorno-texto">Mudança de conceito. O efeito de arco de compressão e a interação solo- estrutura permitem grande economia de concreto e aço.</p>
        </div>
      </div>
    </div>
   </div>
 </div>

<div class="about" id="sobre">
  <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="about-text" style="width: 100%">
            <h2>O SISTEMA BEBO</h2>
            <p>O Sistema de Arco BEBO® é uma solução para obras de arte composta por elementos de arco pré-moldados aterrados. As fôrmas dos pré-moldados e os detalhes construtivos são pré-definidos com vãos variando de 3,7 a 30 m. O desenvolvimento da tecnologia e as primeiras obras foram realizados na década de 1960. De lá para cá, mais de 1200 obras utilizando o sistema já foram executadas no mundo. A sede da equipe técnica da BEBO fica localizada em Zurique na Suíça..</p>

          </div>
        </div>
      </div>
  </div>
</div>


<div class="about-grey" id="sobre">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="about-bebo-img">
           <%= cl_image_tag("Construção_ssey0v.png", :crop=>"scale", :secure=>true) %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="about-text" style="width: 100%;">
          <h3>ETAPAS BÁSICAS</h3>
          <p>1. Preparação do terreno</p>
          <p>2. Execução da fundação e instalação dos drenos.</p>
          <p>3. Nivelamento dos berços com calços.</p>
          <p>4. Montagem dos elementos de arco(no caso de arcos duplos, utilizam-se dois guindastes simultaneamente).</p>
          <p>5. Montagem dos muros de ala e fechamento(no caso de utilização de terra armada, esta é montada simultaneamente à execução do aterro).</p>
          <p>6. Preenchimento dos berços com graute,</p>
          <p>7. Concretagem da chave (apenas no caso de arcos duplos)</p>
          <p>8. Impermeabilização das juntas entre pré-moldados.</p>
          <p>9. Execução do aterro simultaneamente nas duas laterais da estrutura.</p>
          <p>10.Execução (ou montagem) das barreiras e pavimentação.</p>

        </div>
      </div>
    </div>
  </div>
</div>
