
  <div class="banner" style="background-image: url(https://res.cloudinary.com/dib2nyadi/image/upload/v1521332571/fit1_h1ksrj.jpg); width: : 100%;">

  </div>


<div class="about" id="sobre">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="about-text">
          <h2>A Dona FIT</h2>
          <p>Todos sabemos que o dia a dia é corrido e não temos tempo para cuidar da nossa alimentação! A DonaFit chegou para te ajudar. Refeições saudáveis, baratas e onde você estiver! Ligue pra gente!.</p>

          <p>Cras ultricies quam id enim bibendum, ut interdum turpis cursus. Suspendisse quis odio at enim bibendum vulputate non non mi. Nulla ut augue nunc. Aenean finibus venenatis metus eu interdum. Vestibulum in facilisis odio. Nam nec nisl feugiat massa cursus accumsan. Nam erat metus, sagittis non tincidunt id, vestibulum a libero. Fusce sed libero fermentum, laoreet est et, ultrices nibh. Maecenas vel dui at nibh varius pellentesque. Proin sodales diam tempus, porttitor nibh ut, elementum quam. Phasellus sodales enim sodales turpis viverra semper. Donec placerat, erat eget volutpat pharetra, tellus nibh posuere mi, eu congue sapien est quis massa. Vestibulum et neque blandit arcu fermentum sollicitudin ut vitae nibh. Quisque cursus semper est..</p>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="banner2" style="background-image: url(https://res.cloudinary.com/dib2nyadi/image/upload/v1521332713/fit2_fkrgs1.jpg); width: : 100%;">

  </div>


<div class="about" id="sobre">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="about-text">
          <h2>A Dona FIT</h2>
          <p>Todos sabemos que o dia a dia é corrido e não temos tempo para cuidar da nossa alimentação! A DonaFit chegou para te ajudar. Refeições saudáveis, baratas e onde você estiver! Ligue pra gente!.</p>

          <p>Cras ultricies quam id enim bibendum, ut interdum turpis cursus. Suspendisse quis odio at enim bibendum vulputate non non mi. Nulla ut augue nunc. Aenean finibus venenatis metus eu interdum. Vestibulum in facilisis odio. Nam nec nisl feugiat massa cursus accumsan. Nam erat metus, sagittis non tincidunt id, vestibulum a libero. Fusce sed libero fermentum, laoreet est et, ultrices nibh. Maecenas vel dui at nibh varius pellentesque. Proin sodales diam tempus, porttitor nibh ut, elementum quam. Phasellus sodales enim sodales turpis viverra semper. Donec placerat, erat eget volutpat pharetra, tellus nibh posuere mi, eu congue sapien est quis massa. Vestibulum et neque blandit arcu fermentum sollicitudin ut vitae nibh. Quisque cursus semper est..</p>
        </div>
      </div>
    </div>
  </div>
</div>



  <div class="banner2" style="background-image: url(https://res.cloudinary.com/dib2nyadi/image/upload/v1521332900/fit4_pucxj7.jpg); width: : 100%;">

  </div>


<div class="caract" id="diferenciais">
  <div class="container">
    <div class="row">
       <div class="col-xs-12 col-xm-12 col-md-6">
          <h3>Diferenciais</h3>
       </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-xm-12 col-md-6">
        <ul>
          <li>Bla Bla Bla Bla</li>
          <li>Bla Bla Bla Bla</li>
          <li>Bla Bla Bla Bla</li>
          <li>Bla Bla Bla Bla</li>
        </ul>
      </div>
    </div>
  </div>
</div>


 <div class="banner2" style="background-image: url(https://res.cloudinary.com/dib2nyadi/image/upload/v1521332816/fit3_ibmaky.jpg); width: : 100%;">

  </div>

