
  <div class="banner" style="background-image: url(http://res.cloudinary.com/dib2nyadi/image/upload/c_scale,e_grayscale,w_0.7/e_contrast:37/v1490107124/BlocoD/IMG_0433.jpg); width: : 100%;">

  </div>


<div class="about" id="sobre">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="about-text">
          <h2>QUEM SOMOS</h2>
          <p>Após alguns anos de trabalho em projetos estruturais de obras de arte (pontes, viadutos, passarelas, passagens, ...) sentíamos que faltava padronização e industrialização das soluções estruturais. Resolvemos nos dedicar a preencher esse vazio nas estruturas de obras correntes no Brasil, que carecem de soluções padronizadas de alta engenharia agregada.</p>

          <p>Os sistemas estruturais pré-projetados tem várias vantagens. Além do aumento do nível de padronização entre projetos, cada solução recebe um alto investimento de engenharia para ser concebida e os custos são reduzidos pela repetição de sua aplicação. A versatilidade não é prejudicada e cada sistema conta com diversas geometrias que se adaptam a cada obra.</p>

          <p>Para começar a implantar essa filosofia aqui no Brasil, em parceria com a Bebo Arch International da Suiça, estamos trazendo uma solução alternativa para obras de arte. Trata-se de um sistema de arcos pré-moldados aterrados, que é largamente utilizado em vários países há décadas, mas ainda não se popularizou no Brasil. A Bebo Arch tem décadas de experiência e já aplicou a solução em milhares de obras em países como Estados Unidos, Australia e India..</p>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="banner2" style="background-image: url(http://res.cloudinary.com/dib2nyadi/image/upload/c_scale,e_grayscale,w_0.67/v1490107125/BlocoD/Elkhart-County-Six_Span_IN_BEBO_img_1.jpg); width: : 100%;">

  </div>


  <div class="container">
    <div class="solucoes-est" id="solucoes">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="about-img" style="margin-top: 200px; margin-bottom: 70px;">
            <%= cl_image_tag("BlocoD/logo.jpg", :width=>0.4, :crop=>"scale") %>
          </div>
          <%= link_to bebo_path do %>
            <button type="button" class="ghost-button">
                SAIBA MAIS
            </button>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="bebo-carac">

            <h3>O SISTEMA BEBO®</h3>
            <p>O Sistema de Arco BEBO® é uma solução para obras de arte composta por elementos de arco pré-moldados aterrados. As fôrmas dos pré-moldados e os detalhes construtivos são pré-definidos com vãos variando de 3,7 a 30 m. O desenvolvimento da tecnologia e as primeiras obras foram realizados na década de 1960. De lá para cá, mais de 1200 obras utilizando o sistema já foram executadas no mundo. A sede da equipe técnica da BEBO fica localizada em Zurique na Suíça.</p>

          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="banner2" style="background-image: url(http://res.cloudinary.com/dib2nyadi/image/upload/e_grayscale/e_contrast:37/v1490107119/BlocoD/9th-possession-017.jpg); width: : 100%;">

  </div>


<div class="caract" id="diferenciais">
  <div class="container">
    <div class="row">
       <div class="col-xs-12 col-xm-12 col-md-6">
          <h3>SERVIÇOS</h3>
       </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-xm-12 col-md-6">
        <ul>
          <li>Projeto básico</li>
          <li>Projeto executivo</li>
          <li>Quantitativo detalhado</li>
          <li>Suporte técnico à fábrica e à obra</li>
        </ul>
      </div>
      <div class="col-xs-12 col-xm-12 col-md-6">
        <ul>
          <li>Aluguel de forma metálica</li>
          <li>Especificação técnica para:</li>
          <p style="font-weight: 100; margin-left: 30px; position: relative; top:-20px;">Fabricação, transporte, montagem e terraplenagem</p>
        </ul>
      </div>
    </div>
  </div>
</div>


 <div class="banner2" style="background-image: url(http://res.cloudinary.com/dib2nyadi/image/upload/e_grayscale/e_contrast:37/v1490107127/BlocoD/lorton-lane-bridge-13-04-10.jpg); width: : 100%;">

  </div>

