<!-- <div class="banner-home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,0,0,0.6) 50%), url('https://www.eatingthaifood.com/wp-content/uploads/2016/12/best-thai-restaurants-in-bangkok-2016.jpg');">
</div>
 -->


 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://www.beboarch.com/themes/default/img/content/services-1.jpg');">
   <div class="banner-content">
     <h1>Some Stuff</h1>
     <p>Bla Bla Bla Bla Bla</p>
     <a class="btn btn-primary btn-lg">Saiba Mais</a>
   </div>
 </div>

<div class="about">

      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading">A Bloco D</h2>
                  <hr class="light">
                  <p class="text-faded">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum scelerisque massa, vitae volutpat erat convallis sit amet. Fusce cursus viverra ante at scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin iaculis ultricies urna at pulvinar. Ut et felis egestas eros dapibus aliquet quis et mauris.</p>
              </div>
          </div>
      </div>


</div>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
                <h2 class="section-heading"></h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3>Bla Bla Bla</h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                    <h3>Ble Ble Ble</h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                    <h3>Bla Bla Bla</h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                    <h3>Ble Ble Ble</h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        </div>
    </div>
</section>
